/* DEBUG:  */
.debug-col [class*="col-"] {
  height: 200px;
  border: 1px solid black;
  background-color: pink;
}
.debug-nested-col [class*="col-"] {
  height: 190px; /*200px - padding of 10px */
  border: 1px solid white;
  background-color: #f07f80;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

/* Columns */
[class*="col-"] {
  float: left;
}

.col-1{
  width: calc( (100% / 12) * 1 )
}
.col-2{
  width: calc( (100% / 12) * 2 )
}
.col-3{
  width: calc( (100% / 12) * 3 )
}
.col-4{
  width: calc( (100% / 12) * 4 )
}
.col-5{
  width: calc( (100% / 12) * 5 )
}
.col-6{
  width: calc( (100% / 12) * 6 )
}
.col-7{
  width: calc( (100% / 12) * 7 )
}
.col-8{
  width: calc( (100% / 12) * 8 )
}
.col-9{
  width: calc( (100% / 12) * 9 )
}
.col-10{
  width: calc( (100% / 12) * 10 )
}
.col-11{
  width: calc( (100% / 12) * 11 )
}
.col-12{
  width: calc( (100% / 12) * 12 )
}

/*Utility*/
.p-5{
  padding: 5px;
}
